
  
  .ultrasonic-container {
    width: 60%;
    height: 600px;
    background-image: url("/public/images/ultra.png");
    background-size: cover;        /* Make the background image cover the entire container */
    background-position: center;   /* Center the background image */
    background-repeat: no-repeat;  /* Prevent the background image from repeating */
   margin-left: 390px;
   margin-top: 90px;
   border-radius: 20px;
   margin-bottom: 90px;
}
 p{
    color: #000;
    margin-top:690x;
    font-weight: 400;
 }
  .image{
    width: 30%;
    height: 40px;
  }